<p-dialog [modal]="true" [visible]="visible" [style]="{ width: '450px' }" header="{{ model.constructor.name }} Details" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <div class="field" *ngFor="let prop of getObjectKeys(model)">
            <label for="{{ prop }}">{{ capitalize(prop) }}</label>
            <input type="text" pInputText [id]="prop" [(ngModel)]="model[prop]" required autofocus [ngClass]="{ 'ng-invalid ng-dirty': submitted && !model[prop] }" />
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !model[prop]">{{ capitalize(prop) }} is required.</small>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="cancel()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
    </ng-template>
</p-dialog>
