<p-toolbar styleClass="mb-4">
    <ng-template pTemplate="right">
        <div class="my-2">
            <button pButton pRipple label="{{ newButtonLabel }}" icon="{{ newButtonIcon }}" class="p-button-raised p-button-text p-button-success mr-2" (click)="onNewClick()" pTooltip="new"></button>
            <button
                *ngIf="canDelete"
                pButton
                pRipple
                label="حذف"
                icon="pi pi-trash"
                class="p-button-raised p-button-text p-button-danger"
                (click)="onDeleteClick()"
                [disabled]="!isDeleteButtonEnabled"
            ></button>
        </div>
    </ng-template>
    <ng-template pTemplate="left">
        <button pButton pRipple label="export to excel" icon="pi pi-upload" class="p-button-raised p-button-text p-button-help" pTooltip="export to excel" (click)="onExportClick()"></button>
    </ng-template>
</p-toolbar>
