<div class="grid">
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between">
                <div>
                    <span class="block text-500 font-medium" style="font-size: 1.5rem;">Purchases</span>
                    <div class="text-900 font-medium text-xl">152</div>
                </div>
                    <div class="flex align-items-center justify-content-center bg-teal-200 border-round" [ngStyle]="{ width: '4rem', height: '4rem' }">
                        <i class="pi pi-shopping-cart text-teal-700" style="font-size: 3rem"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">24 new </span>
            <span class="text-500">since last visit</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between">
                <div>
                    <span class="block text-500 font-medium" style="font-size: 1.5rem;">Income</span>
                    <div class="text-900 font-medium text-xl">$2.100</div>
                </div>
                    <div class="flex align-items-center justify-content-center bg-blue-200 border-round" [ngStyle]="{ width: '4rem', height: '4rem' }">
                        <i class="pi pi-euro text-blue-700" style="font-size: 3rem"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">%52+ </span>
            <span class="text-500">since last week</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between">
                <div>
                    <span class="block text-500 font-medium" style="font-size: 1.5rem;">Suppliers</span>
                    <div class="text-900 font-medium text-xl">28441</div>
                </div>
                    <div class="flex align-items-center justify-content-center bg-cyan-200 border-round" [ngStyle]="{ width: '4rem', height: '4rem' }">
                        <i class="pi pi-shopping-bag text-cyan-700" style="font-size: 3rem"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">%25+ </span>
            <span class="text-500">since last week</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between">
                <div>
                    <span class="block text-500 font-medium" style="font-size: 1.5rem;">Cash</span>
                    <div class="text-900 font-medium text-xl">$120,100</div>
                </div>
                    <div class="flex align-items-center justify-content-center bg-green-200 border-round" [ngStyle]="{ width: '4rem', height: '4rem' }">
                        <i class="pi pi-money-bill text-green-700" style="font-size: 3rem"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">85 </span>
            <span class="text-500">responded</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between">
                <div>
                    <span class="block text-500 font-medium" style="font-size: 1.5rem;">Sales</span>
                    <div class="text-900 font-medium text-xl">120</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-pink-200 border-round" [ngStyle]="{ width: '4rem', height: '4rem' }">
                    <i class="pi pi-tags text-pink-700" style="font-size: 3rem"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">24 new </span>
            <span class="text-500">since last visit</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between">
                <div>
                    <span class="block text-500 font-medium" style="font-size: 1.5rem;">Expenses</span>
                    <div class="text-900 font-medium text-xl">$30.100</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-red-200 border-round" [ngStyle]="{ width: '4rem', height: '4rem' }">
                    <i class="pi pi-dollar text-red-700" style="font-size: 3rem"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">%35+ </span>
            <span class="text-500">since last week</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between">
                <div>
                    <span class="block text-500 font-medium" style="font-size: 1.5rem;">Clients</span>
                    <div class="text-900 font-medium text-xl">2154</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-bluegray-200 border-round" [ngStyle]="{ width: '4rem', height: '4rem' }">
                    <i class="pi pi-users text-bluegray-700" style="font-size: 3rem"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">120 </span>
            <span class="text-500">newly registered</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between">
                <div>
                    <span class="block text-500 font-medium" style="font-size: 1.5rem;">Bank</span>
                    <div class="text-900 font-medium text-xl">$500,482</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-purple-200 border-round" [ngStyle]="{ width: '4rem', height: '4rem' }">
                    <i class="pi pi-credit-card text-purple-700" style="font-size: 3rem"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">%15+ </span>
            <span class="text-500">since last week</span>
        </div>
    </div>
    <div class="col-12 xl:col-6">
        <div class="card">
            <h5>Sales Overview</h5>
            <p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
        </div>
    </div>
    <div class="col-12 xl:col-6">
        <div class="card" style="height: 100%">
            <h5>Sales Representative</h5>
            <div class="flex justify-content-center">
                <p-chart type="doughnut" [data]="data" [options]="options" style="width: 50%"></p-chart>
            </div>
        </div>
    </div>
</div>
