<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <!-- شيكات تحت الصرف -->
            <app-table
            #dt
            [tableData]="firstTableData"
            [(selectedElements)]="selectedElements"
            [tableColumns]="firstTableColumns"
            [caption]="tableCaption"
            (editClick)="editElement($event)"
            [canEdit]="true"
            [canDelete]="true"
        >
        </app-table>
            <!-- شيكات للدفع النقدي -->
            <app-table
                #dt
                [tableData]="secondTableData"
                [(selectedElements)]="selectedElements"
                [tableColumns]="secondTableColumns"
                [caption]="tableCaption"
                (editClick)="editElement($event)"
                [canEdit]="true"
                [canDelete]="true"
            >
            </app-table>
            <!-- شيكات للدفع النقدي -->
            <!-- <div class="flex m-auto w-100">
                <div class="flex-column w-100">
                    <div class="flex-row flex-grow-1">
                        <div class="col-4">
                            <label for="type">طريقة دفع الايصال</label>
                            <p-dropdown id="type" [options]="['safe', 'bank', 'custody', 'check']" optionLabel="طريقة دفع الايصال"> </p-dropdown>
                        </div>
                        <div class="col-4">
                            <label for="name">المبلغ المدفوع</label>
                            <input type="text" pInputText id="name" [(ngModel)]="supplier.name" required autofocus [ngClass]="{ 'ng-invalid ng-dirty': submitted && !supplier.name }" />
                        </div>
                        <div class="col-4">
                            <label for="nameAR">تاريخ الدفع</label>
                            <input type="text" pInputText id="nameAR" [(ngModel)]="supplier.nameAR" required autofocus [ngClass]="{ 'ng-invalid ng-dirty': submitted && !supplier.nameAR }" />
                        </div>
                    </div>
                    <div class="flex-row flex-grow-1">
                        <div class="col-6">
                            <label for="phone1">رقم الايصال</label>
                            <input type="text" pInputText id="phone1" [(ngModel)]="supplier.phone1" required autofocus [ngClass]="{ 'ng-invalid ng-dirty': submitted && !supplier.phone1 }" />
                        </div>
                        <div class="col-6">
                            <label for="type">الحساب</label>
                            <p-dropdown id="type" [options]="['safe', 'bank', 'custody', 'check']" optionLabel="طريقة دفع الايصال"> </p-dropdown>
                        </div>
                    </div>
                    <div class="flex-row flex-grow-1">
                        <div class="col-12">
                            <label for="phone2">التوصيف</label>
                            <input type="text" pInputText id="phone2" [(ngModel)]="supplier.phone2" autofocus />
                        </div>
                    </div>
                    <div class="flex-row flex-grow-1">
                        CollectCashCollection
                        <button pButton pRipple label="حفظ" icon="pi pi-check" class="p-button-raised p-button-text p-button-success mr-2" (click)="add()"></button>
                    </div>
                </div>
            </div> -->
        </div>
        <!-- <p-dialog [(visible)]="supplierDialog" [style]="{ width: '450px' }" header="Supplier Details" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="name">English Name</label>
                    <input type="text" pInputText id="name" [(ngModel)]="supplier.name" required autofocus [ngClass]="{ 'ng-invalid ng-dirty': submitted && !supplier.name }" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !supplier.name">English Name is required.</small>
                </div>
                <div class="field">
                    <label for="nameAR">Arabic Name</label>
                    <input type="text" pInputText id="nameAR" [(ngModel)]="supplier.nameAR" required autofocus [ngClass]="{ 'ng-invalid ng-dirty': submitted && !supplier.nameAR }" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !supplier.nameAR">Arabic Name is required.</small>
                </div>
                <div class="field">
                    <label for="phone1">phone 1</label>
                    <input type="text" pInputText id="phone1" [(ngModel)]="supplier.phone1" required autofocus [ngClass]="{ 'ng-invalid ng-dirty': submitted && !supplier.phone1 }" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !supplier.phone1">phone is required.</small>
                </div>
                <div class="field">
                    <label for="phone2">phone 2</label>
                    <input type="text" pInputText id="phone2" [(ngModel)]="supplier.phone2" autofocus />
                </div>
                <div class="field">
                    <label for="Email">Email</label>
                    <input type="text" pInputText id="Email" [(ngModel)]="supplier.email" required autofocus [ngClass]="{ 'ng-invalid ng-dirty': submitted && !supplier.email }" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !supplier.email">Email is required.</small>
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="add()"></button>
            </ng-template>
        </p-dialog>
        <p-dialog [(visible)]="deleteSupplierDialog" header="Confirm" [modal]="true" [style]="{ width: '450px' }">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="supplier"
                    >Are you sure you want to delete <b>{{ supplier.name }}</b
                    >?</span
                >
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteSupplierDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog> -->
    </div>
</div>
